@font-face {
  font-family: "Boston";
  src: url("../fonts/Boston\ Angel\ Regular.ttf") format("truetype");
}

body {
  font-family: "Boston", sans-serif;
  background-color: black;

}

.container {
  background-image: url(brilho.png);
}

.container-arco {
  position: relative;
  display: inline-block;
  margin-left: 10%;
}

.arco {
  display: block;
  width: 400px;
  height: 300px;
}

.imagem-arredondada {
  position: absolute;
  top: 48%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60%;
  height: 70%;
  border-radius: 50%;
}

.arco-title {
  position: absolute;
  top: 85%;
  left: 33%;
}

.arco-subtitle, .subtitle {
  color: #FDE48B;

}

.arco-subtitle {
  position: absolute;
  top: 95%;
  left: 39%;
}

.skills-section {
  position: absolute;
  left: 50%;
  top: 30%;
}

.skills-section-img {
  width: 90%;
}

.title {
  text-transform: uppercase;
  color: #FDE48B;
  text-align: center;
  font-size:4rem;

}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
}

.notification {
  position: relative;
  padding: 20px;
  border-radius: 4px;
  background-color: #fff;
  color: #000;
  text-align: center;
  z-index: 99999;
  background-color: #4CAF50;
  color: #fff;
}
footer{
position: fixed;
bottom: 0;
margin: 0 auto;
}

@media screen and (max-width: 1200px){
  .skills-section-img{
    width: 80%;
  }
  .arco {
    width: 60%;
    height: 60%;
    margin: 0 auto;
  }
  .imagem-arredondada {
    width: 37%;
    }
}


@media screen and (max-width: 999px){
  body{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .skills-section{
    position: unset;
    display: flex;
    justify-content: center;
    margin-top: 10%;

  }
  .container-arco{
    margin-left: 0;
  }
  .arco{
    width: 80%;
    height: 60%;
    margin: 0 auto;
  }
  .imagem-arredondada{
    left: 50%;
  }
  .arco-title{
    font-size: 1rem;
  }
}

@media screen and (min-width: 500px) and (max-width:999px){
  .imagem-arredondada{
    width: 51%;
    height: 73%;
  }
  .arco-title {
    font-size: 1.5rem;
    margin-left: 13px;
}
}

@media screen and (min-width: 1000px) and (max-width: 1200px){
  .container-arco{
    margin-left: 0;
  }
}
